{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>淘宝-购物车</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/tb-cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">



    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'add/addgoods.js' %}"></script>

{#    <script src="{% static 'js/t2.js' %}"></script>#}


</head>
<body>

    <!-- top -->
    <div class="g-t">
        <div class="m-t-main">
            <!-- 左 -->
            <ul class="t-u-lft">
                <li><a href="#">
                    {% if tel %}
                    {{ tel }}
                        {% else %}
                        登录
                    {% endif %}
                </a><em></em><i class="arr"></i></li>
                <li><span>消息</span><i class="arr"></i></li>
                <li><a href="#">手机逛淘宝</a></li>
            </ul>
            <!-- 右 -->
            <ul class="t-u-rgt">
                <li><a href="{% url 'ml:index' %}">淘宝网首页</a></li>
                <li><a href="#">我的淘宝</a><i class="arr"></i></li>
                <li><em class="cart"></em><a href="#">购物车</a><i class="arr"></i></li>
                <li><em class="collect"></em><a href="#">收藏夹</a><i class="arr"></i></li>
                <li><a href="#">商品分类</a><em class="sort"></em></li>
                <li><a href="#">卖家中心</a><i class="arr"></i></li>
                <li><a href="#">联系客服</a><i class="arr"></i></li>
                <li><em class="menu"></em><a href="#">网站导航</a><i class="arr"></i></li>
            </ul>
        </div>
    </div>

    <div>
        {% for cart in carts %}

            <div class="gd12" style="border: 1px solid black">
                {% if cart.number > 0 %}



                    {% if cart.isselect %}
                        <span class="glyphicon glyphicon-ok" id="i4" goodsid="{{ cart.goods_id}}"></span>
                    {% else %}
                        <span class="no" id="i4" goodsid="{{ cart.goods_id}}"></span>
                    {% endif %}



                    数量:<input type="button" value="-" goodsid="{{ cart.goods_id}}" class="jian">
                    <span class="num">{{ cart.number }}</span>



                    <input type="button" value="+" goodsid="{{ cart.goods_id}}" class="jia">
                    {% for gd in goods %}
                        {% if gd.id == cart.goods_id %}
                            <span> <img src="{{ gd.headIng }}" class="xt"> </span>
                            <span>商品名字：{{ gd.name }}</span>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
<div>
    <span>全选</span>
    <span class="glyphicon glyphicon-ok" id="i3"></span>
    <span class="no" id="i2"></span>共计：
    <span id="i1">{{ gj }}</span>元
</div>

</body>
</html>